SERVICE_NAME=user-api
HOST=0.0.0.0
PORT=8013
DEBUG=false
SECRET_KEY=change-me-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,user-api

DB_ENGINE=django.db.backends.postgresql
DB_NAME=iot_hub_platform
DB_HOST=db
DB_PORT=5432
DB_USER=users_user
DB_PASSWORD=change-me-db-password
DB_SCHEMA=users

LOG_LEVEL=INFO
JWT_SECRET_KEY=change-me-jwt-secret
JWT_ALGORITHM=HS256
INTERNAL_SERVICE_HEADER=X-Internal-Service

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me-admin-password

OPERATOR_USERNAME=operator
OPERATOR_EMAIL=operator@example.com
OPERATOR_PASSWORD=change-me-operator-password

VIEWER_USERNAME=viewer
VIEWER_EMAIL=viewer@example.com
VIEWER_PASSWORD=change-me-viewer-password
